<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Histogram</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>

<h2>Simple Histogram</h2>

<table>
    <tr>
        <th>Value</th>
        <th>Frequency</th>
        <th>Bar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>5</td>
        <td>
            <div style="width: 50px; background-color: blue;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>8</td>
        <td>
            <div style="width: 80px; background-color: green;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>3</td>
        <td>
            <div style="width: 30px; background-color: red;">&nbsp;</div>
        </td>
    </tr>
</table>

</body>
</html>
