{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/color.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/font.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/Add_Society-styles.css' %}" type="text/css" rel="stylesheet">
 
    <title>Create Society</title>
</head>

<body>
    <div class="outer-container container border pt-2 px-5 pb-4">

        <div class="">
            <center class="">
                <h2>Create Society</h2>
            </center>
            <div class="mt-5">
                <form method="post" action="{% url 'reg_step2' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <label for="society_name">Society Name:</label>
                            <input class="form-control" type="text" id="society_name" name="society_name" required
                                style="width: 100%;">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <label for="street_address">Street Address:</label>
                            <input class="form-control" type="text" id="street_address" name="street_address" required
                                style="width: 100%;">
                        </div>
                        <div class="col-4">
                            <label for="city">City:</label>
                            <input class="form-control" type="text" id="city" name="city" required style="width: 100%;">
                        </div>
                        <div class="col-4">
                            <label for="province">Province:</label>
                            <input class="form-control" type="text" id="province" name="province" required
                                style="width: 100%;">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4">
                            <label for="postal_code">Postal Code:</label>
                            <input class="form-control" type="text" id="postal_code" name="postal_code" required
                                style="width: 100%;">
                        </div>
                        <div class="col-4">
                            <label for="total_apartments">Total Apartments:</label>
                            <input class="form-control" type="number" id="total_apartments" name="total_apartments"
                                required style="width: 100%;">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <label for="contact_info">Contact Info:</label>
                            <input class="form-control" type="text" id="contact_info" name="contact_info" required
                                style="width: 100%;">
                        </div>
                        <div class="col-4">
                            <label for="number_of_floors">Number of Floors:</label>
                            <input class="form-control" type="number" id="number_of_floors" name="number_of_floors"
                                required style="width: 100%;">
                        </div>
                        <div class="col-4">
                            <label for="number_of_blocks">Number of Blocks:</label>
                            <input class="form-control" type="number" id="number_of_blocks" name="number_of_blocks"
                                required style="width: 100%;">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <label for="start_block">Start Block:</label>
                            <input class="form-control" type="text" id="start_block" name="start_block" required
                                style="width: 100%;">
                        </div>
                        <div class="col-4">
                            <label for="end_block">End Block:</label>
                            <input class="form-control" type="text" id="end_block" name="end_block" required
                                style="width: 100%;">
                        </div>
                    </div>
                    <center class="mt-5">
                        <input class="" type="submit" value="Submit">
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>

</html>