<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Society</title>
</head>
<body>
    <h1>Create Society</h1>
    <form method="post">
        {% csrf_token %}
        <label for="society_name">Society Name:</label><br>
        <input type="text" id="society_name" name="society_name" required><br><br>

        <label for="street_address">Street Address:</label><br>
        <input type="text" id="street_address" name="street_address" required><br><br>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" required><br><br>

        <label for="province">Province:</label><br>
        <input type="text" id="province" name="province" required><br><br>

        <label for="postal_code">Postal Code:</label><br>
        <input type="text" id="postal_code" name="postal_code" required><br><br>

        <label for="total_apartments">Total Apartments:</label><br>
        <input type="number" id="total_apartments" name="total_apartments" required><br><br>

        <label for="owner_name">Owner Name:</label><br>
        <input type="text" id="owner_name" name="owner_name" required><br><br>

        <label for="contact_info">Contact Info:</label><br>
        <input type="text" id="contact_info" name="contact_info" required><br><br>

        <label for="number_of_floors">Number of Floors:</label><br>
        <input type="number" id="number_of_floors" name="number_of_floors" required><br><br>

        <label for="number_of_blocks">Number of Blocks:</label><br>
        <input type="number" id="number_of_blocks" name="number_of_blocks" required><br><br>

        <label for="start_block">Start Block:</label><br>
        <input type="text" id="start_block" name="start_block" required><br><br>

        <label for="end_block">End Block:</label><br>
        <input type="text" id="end_block" name="end_block" required><br><br>

        <label for="number_of_blocks_each_floor">Number of Apartments Each Floor:</label><br>
        <input type="number" id="number_of_apartments_each_floor" name="number_of_apartments_each_floor" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
