{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" >
    <link href="{% static 'css/admindashboard-styles.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/color.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/font.css' %}" type="text/css" rel="stylesheet">
</head>

<body>

    <nav>
        <div class="inner-nav" style="height: 100vh; overflow-y: auto;">
            <center>
                <div class="row">
                    <div class="col">
                        <div class="row equal-rows">
                            <div class="col">
                                <a href="{% url 'logout_admin' %}">
                                    <div class="img-container ml-2">
                                        <img src="{% static 'pictures/logout.png' %}">
                                    </div>
                                    <div class="">
                                        <p style="font-size: 12px;">
                                            Logout
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                <div class="row">
                    <div class="col">
                        <div class="row equal-rows">
                            <div class="col">
                                <a href="{% url 'apartment_registration' %}">
                                    <div class="img-container ml-2">
                                        <img src="{% static 'pictures/add-resident.png' %}">
                                    </div>
                                    <div class="">
                                        <p style="font-size: 12px;">
                                            Resident
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row equal-rows">
                            <div class="col">
                                <a href="{% url 'list_apartments' %}">
                                    <div class="img-container">
                                        <img src="{% static 'pictures/track-payment-icon.png' %}">
                                    </div>
                                    <div class="">
                                        <p style="font-size: 12px;">
                                            Payment
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row equal-rows">
                            <div class="col">
                                <a href="{% url 'addAmenity' %}">
                                    <div class="img-container">
                                        <img src="{% static 'pictures/update-amenties-icon.png' %}" style="height: 130%;">
                                    </div>
                                    <div class="">
                                        <p class="mt-3" style="font-size: 12px;">
                                            Amenities
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row equal-rows">
                            <div class="col">
                                <a href="{% url 'complaints_list' %}">
                                    <div class="img-container">
                                        <img src="{% static 'pictures/report-issue.png' %}">
                                    </div>
                                    <div class="">
                                        <p style="font-size: 12px;">
                                            Complaints
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row equal-rows">
                            <div class="col">
                                <a href="{% url 'gatekeeper_registration' %}">
                                    <div class="img-container">
                                        <img src="{% static 'pictures/gate-keeper.png' %}">
                                    </div>
                                    <div class="">
                                        <p style="font-size: 12px;">
                                            Gatekeeper
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <div class="row equal-rows">
                        <div class="col">
                            <a href="{% url 'submit_notification' %}">
                                <div class="img-container">
                                    <img src="{% static 'pictures/feedback-icon.png' %}">
                                </div>
                                <div class="">
                                    <p style="font-size: 12px;">
                                        News
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
               
                <div class="row equal-rows">
                    <div class="col">
                        <a href="{% url 'add_emergency_information' %}">
                            <div class="img-container">
                                <img src="{% static 'pictures/emergency-info.png' %}">
                            </div>
                            <div class="">
                                <p style="font-size: 12px;">
                                    Emergency
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
                </div>
            </center>
        </div>
    </nav>

    
    <div class="top-ribbon pt-2">
        <div class="outer-container-top">
            <center>
                <h1>Admin Dashboard</h1>
            </center>
        </div>
    </div>
    <div class="outer-container mt-4" style="display: flex; justify-content: center;">
        <img src="{% static 'pictures/admin_icon.png' %}" alt="Admin Icon">
    </div>




</body>

</html>